{{define "head"}}
{{end}}

{{define "title"}}Login{{end}}

{{define "body"}}
<div class="container">
<div class="row">
<form id="login-form">
    <h1>LOGIN</h1>
    <input type="login" placeholder="Login" id="login" required/>
    <input type="password" placeholder="Password" id="pwd" required/>
    <input type="submit" value="Sign In" id="clicklogin"/>
</form>    
</div>
</div>
{{end}}

{{define "scripts"}}

<script type="text/javascript">
  $(document).ready(function() {
    $('#clicklogin').click(function() {
      $.ajax({
        type: "POST",
        url: "/api/login",
        data: JSON.stringify({"username": document.getElementById("login").value, "password": document.getElementById("pwd").value}),
        success: function () {               
            alert("OK");
            window.location = "/admin/append";               
        },     
        error: function() {
          alert("Login Failed");
        },
      });
    });    
  });
</script> 

{{end}}
